/* Global statements */
html, body { margin: 0; padding: 0 }
* { font-family: 'Courier New', Verdana, sans-serif }

#wrapper {
    width: 320px;
    height: auto;
    margin: 0 auto;
}

#wrapper h1 {
    margin-bottom: 0;
}

#wrapper h3 {
    margin: 4px 0 0;
}
#wrapper .contact-field {
    clear: both;
    height: 32px;
    margin: 12px 0;
}

#wrapper .contact-field img {
    width: 32px;
    height: 32px;
    float: left;
}

#wrapper .mail img {
    width: 32px;
    height: 23px;
    margin-top: 5px;
}

#wrapper .contact-field a {
    color: black;
    float: left;
    margin: 8px 0 0 12px;
}

@media (max-width: 360px) {
    #wrapper { padding-left: 16px; }
}